# Dependencies and builds
node_modules/
types/
dist/
artifacts/

# Editors
.vscode
.idea

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
.nyc_output/
coverage/

# Environment
.env

# Misc
all.sh
artifacts
.snippets
.env
test.js
